@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");

.wrapper {
	margin: 0 auto;
	max-width: 768px;
	padding: 1rem;
	background-color: #0e2532;
}

.body {
	margin: 0 auto;
}

h1,
h2,
h3,
p,
.CV {
	color: antiquewhite;
	font-family: "IM Fell English", serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 1.8rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

.logo-hp-desktop {
	display: none;
}

.logo-hp-mobile {
	display: flex;
	width: 30%;
	justify-content: flex-end;
}

ul {
	display: none;
}

.topnav {
	overflow: hidden;
	background-color: #186289;
	position: relative;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-self: flex-end;
}

.mobile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: antiquewhite;
	padding: 14px 16px;
	font-size: 18px;
	width: 100%;
}

#myLinks {
	display: none;
	flex-direction: column;
}

#myLinks a {
	padding: 12px 16px;
	text-decoration: none;
	color: antiquewhite;
	display: block;
}

#myLinks a:hover {
	background-color: #0d87c4;
	color: rgb(215, 202, 184);
}

.topnav a {
	color: antiquewhite;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #0d87c4;
	color: rgb(215, 202, 184);
}

.under img,
.hogwartsimg img,
.quidditch img,
.train img,
.potion img,
.plant-class img,
.undesirable img,
.sorting img,
.plants img,
.hedwige img,
.buck img,
.potion-class img,
.broomstick img,
.golden img {
	width: 100%;
}

@media screen and (min-width: 1024px) {
}
