.wrapper {
	width: 1200px;
	background-color: #0e2532;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, minmax(100px, auto));
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

#grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

#grid p {
	border: 1px solid #000;
	margin: 0;
	opacity: 0.2;
}

header {
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 2/6;
	align-self: center;
	width: 70%;
}

header nav {
	grid-column: 6/13;
	align-self: center;
}

header nav ul {
	margin: 0;
	margin-right: 30px;
	padding: 0;
	float: right;
}

header nav ul li {
	display: inline;
	padding-left: 10px;
}

header nav ul li a {
	color: #767676;
	text-decoration: none;
}
h1 {
	font-size: 54px;
	line-height: 60px;
}

.text {
	color: antiquewhite;
	grid-column: 2/6;
}

p {
	font-size: 20px;
	line-height: 30px;
}

.hogwartsimg {
	grid-column: 2/8;
	grid-row: 6/13;
}

.hogwartsimg img {
	width: 60%;
	border-radius: 10px;
}

.train {
	grid-column: 7/13;
	grid-row: 4/13;
}

.train img {
	width: 60%;
	border-radius: 10px;
}

.button {
	padding: 15px 30px;
	background-color: #186289;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: antiquewhite;
	font-weight: 600;
}

.potion {
	grid-column: 8/13;
	grid-row: 3/7;
}

.potion img {
	width: 70%;
	border-radius: 10px;
}

.quidditch {
	grid-column: 2/7;
	grid-row: 4/6;
}

.quidditch img {
	width: 90%;
	border-radius: 10px;
}
.hedwige {
	grid-column: 7/13;
}

.hedwige img {
	width: 70%;
	border-radius: 10px;
}

.CV li {
	color: antiquewhite;
	grid-column: 2/8;
}

.buck {
	grid-column: 7/13;
}

.buck img {
	width: 70%;
	border-radius: 10px;
}

.potion-class {
	grid-column: 2/6;
	grid-row: 3/13;
}

.potion-class img {
	width: 70%;
	border-radius: 10px;
}

.text {
	grid-column: 6/13;
}

.Wie-ben-ik {
	grid-column: 2/8;
	color: antiquewhite;
}

.CV {
	grid-column: 2/9;
}

.CV h1 {
	font-size: 46px;
	color: antiquewhite;
}

.plants {
	grid-column: 2/7;
	grid-row: 4/13;
}

.plants img {
	width: 70%;
	border-radius: 10px;
}

.text2 {
	color: antiquewhite;
	grid-column: 3/7;
}

.broomstick {
	grid-column: 2/8;
	grid-row: 6/13;
}

.broomstick img {
	width: 50%;
	border-radius: 10px;
}

.golden {
	grid-column: 7/13;
	grid-row: 6/13;
}

.golden img {
	width: 70%;
	border-radius: 10px;
}

.plant-class {
	grid-column: 8/13;
	grid-row: 2/7;
}

.plant-class img {
	width: 70%;
	border-radius: 10px;
}

.under {
	grid-column: 7/13;
	grid-row: 6/13;
}

.under img {
	width: 60%;
	border-radius: 10px;
}

.undesirable{
	grid-column: 2/8;
}

.undesirable img{
	width: 60%;
	border-radius: 10px;
}